In [29]:
import pandas as pd

#### Series

    -   A series is a single COLUMN of data
    -   Intuitively, a pandas series is the best features of a python list and a python dictionary combined into one single object.
    -   Python list is best suited to save the data in an order and the dictionary is best suited to show associations.

In [30]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

##### Notes

    - The series is going to maintain the original order of the data from the list.
    - Whenever pandas do not get a explicit statement from us about the label should be, it automatically gives them a numerical assignment.
    - Except simple data types like integers and booleans floats etc, pandas will always return dtypes as objects.

In [31]:
lottery_numbers = [4,8,15,28,42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    28
4    42
dtype: int64

In [32]:
registrations = [True, False, True, False, False, True , False , True , True]
pd.Series(registrations)

0     True
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
dtype: bool

In [33]:
sushi = {
    "Salmon": "Orange",
    "Tuna" : "Red", 
    "Eel" : "Brown"
}
pd.Series(sushi)    #Keys become the index values.

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

##### Series Methods

In [34]:
prices = pd.Series(
    [
        2.99,4.45,1.36
    ]
)
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [35]:
prices.sum()

np.float64(8.8)

In [36]:
prices.product()

np.float64(18.095480000000006)

In [37]:
prices.mean()

np.float64(2.9333333333333336)

In [38]:
prices.std()    # Standard Deviation

np.float64(1.5457791994115246)

##### Attributes in Series

    -   A method is command, it is an action that we can ask the object to take for us
    -   An attribute is a piece of data that lives on an object.
    -   An attribute is a face, a detail, a piece of information, a characteristic of the object
    -   Methods require parantheses, attributes does not

In [39]:
adjectives = pd.Series(
    [
        "Luv Ratan", "Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"
    ]
)
adjectives

0    Luv Ratan
1        Smart
2     Handsome
3     Charming
4    Brilliant
5       Humble
6        Smart
dtype: object

In [40]:
adjectives.size

7

In [42]:
adjectives.is_unique    #Weather their are no duplicates

False

In [43]:
adjectives.values

array(['Luv Ratan', 'Smart', 'Handsome', 'Charming', 'Brilliant',
       'Humble', 'Smart'], dtype=object)

In [44]:
adjectives.index

RangeIndex(start=0, stop=7, step=1)

In [45]:
type(adjectives.values)

numpy.ndarray

In [46]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex